@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family : 'Poppins', sans-serif;
    /*font-size   : 9pt;*/
    background  : #F5F5F5;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position   : relative;
    min-height : 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom : 60px;
}

.footer {
    position         : absolute;
    bottom           : 0;
    width            : 100%;
    /* Set the fixed height of the footer here */
    height           : 60px;
    line-height      : 60px; /* Vertically center the text there */
    background-color : #F5F5F5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer > .container {
    padding-right : 15px;
    padding-left  : 15px;
}

code {
    font-size : 80%;
}

main {
    margin-top : 80px;
}

.form-inline label {
    display : inherit;
}

.fit-cell {
    width       : 1%;
    white-space : nowrap;
}

.dashboard {
    color       : #000000 !important;
    text-shadow : 0px 0px 5px #666 !important;
}

.dashboard:hover {
    color       : #f00 !important;
    text-shadow : 0px 0px 3px #F0AD4E !important;
    text-decoration: none;
    transition: 0.2s;
}

