/* CARD BODY FIT */
.card-body {
  padding : 5px !important;
}

/* HOME PAGE */
.dashboard {
  color       : #000000 !important;
  text-shadow : 0px 0px 5px #666666 !important;
}

.dashboard:hover {
  color           : #FF0000 !important;
  text-shadow     : 0px 0px 3px #F0AD4E !important;
  text-decoration : none;
  transition      : 0.2s;
}

/* TABLE FIT CONTENT */

.fit-cell {
  width       : 1%;
  white-space : nowrap;
}

/* TEXT SHADOW */

.elegantshd {
  color            : #131313;
  letter-spacing   : .15em;
  text-shadow      : 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #cecece, -3px 6px 1px #dedede, -4px 8px 1px #eeeeee, -5px 10px 1px #fefefe;
}